.app-prg-bar {
  left: 0;
  top: 0;
  right: 0;
  width: 0%;
  height: 5px;
  z-index: 9999;
  background: red;
  position: fixed;
  transition: 1s linear;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}