.auth-layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  background-image: url('/assets/images/hero-bg/hero-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .signin-content {
    width: 60rem;
    height: auto;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 30px;
    background-color: #fff;

    .left-img-sec {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .auth-page-sec {
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;

      .auth-container {
        position: relative;
        width: 500px;
        padding: 20px;
        -webkit-box-shadow: 0 0.25rem 0.55rem rgba(60, 68, 177, 0.35);
        -moz-box-shadow: 0 0.25rem 0.55rem rgba(60, 68, 177, 0.35);
        box-shadow: 0 1px 10px 2px rgba(60, 68, 177, 0.35);
        border-radius: 5px;
      }
    }
  }
}