<div class="page-title pb-3">
  <h3 class="d-inline-block">Advance Return Management</h3>
  <div class="btn-group-v2 float-right">
    <button class="btn btn-light mr-4" (click)="continueInfoModification()"
      *ngIf="!isNewEntry && !isModify">Modify</button>
    <button class="btn btn-success mr-4" *ngIf="isModify" (click)="saveModificationForm()"
      [attr.disabled]="isFormSubmitted ? true : null">Save</button>
    <button class="btn btn-secondary" (click)="resetForm()"
      [attr.disabled]="isFormSubmitted ? true : null">Cancel</button>
  </div>
</div>
<!-- Form Section Start -->
<div class="form-section">
  <form [formGroup]="itemModifyForm">
    <div class="row">
      <div class="col-md-8 col-xs-12">

        <h5 class="form-section-title mb-3">Purchase Information</h5>

        <ng-container formGroupName="advanceReturn">
          <div class="row">
            <div class="col-md-6 form-group">
              <label>Memo No.</label>
              <input type="text" placeholder="Memo No" class="form-control"
                [ngClass]="{'input-readOnly': !(isInputReadOnly || isPreview)}" formControlName="memoNo"
                (focusout)="validateObjectFieldOnBlur('memoNo')" (keyup)="inputOnlyInt($event, 'memoNo')" />
              <small class="form-text err-msg">{{validationMessages?.objFieldErr?.memoNo}}</small>
            </div>
            <div class="col-md-6 form-group">
              <label>Advance Return Date</label>
              <input type="text" placeholder="Return Date" class="form-control" [matDatepicker]="datePicker"
                [ngClass]="{'input-readOnly': !(isInputReadOnly || isPreview)}" formControlName="advReturnDate" readOnly
                (click)="datePicker.open();" />
              <mat-datepicker #datePicker (closed)="validateObjectFieldOnBlur('advReturnDate')"></mat-datepicker>
              <small class="form-text err-msg">{{validationMessages?.objFieldErr?.advReturnDate}}</small>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5 class="form-section-title mb-3">All Item Information</h5>

        <ng-container formArrayName="advanceReturnDetailsList">
          <div class="table-responsive" [ngClass]="{'item-rmv-btn': (advanceReturnDetailsList.controls.length > 1)}">
            <table class="table">
              <thead>
                <tr>
                  <th class="sl-count">Sl</th>
                  <th>Raffel</th>
                  <th>Draw</th>
                  <th>Date</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Grp</th>
                  <th>Qty</th>
                  <th>Rate</th>
                  <th *ngIf="advanceReturnDetailsList.controls.length > 1" class="btn-cont">---</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let _item of advanceReturnDetailsList.controls; let y = index">
                  <tr [formGroupName]="y">
                    <td>
                      <div class="form-group">
                        <span>{{y + 1}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group tooltip-cont"
                        [ngClass]="{'input-err': validationMessages?.arrFieldErr[y]?.raffleId}">
                        <!-- <div class="form-group"> -->
                        <select class="form-control" formControlName="raffleId" (change)="populateOtherRaffleInfo(y)"
                          (blur)="validateArrayFieldOnBlur(y, 'raffleId')">
                          <option value="" disabled>Select Raffle</option>
                          <ng-container *ngFor="let raffle of raffleListArray">
                            <option [value]="raffle.id">{{raffle.raffleName}}</option>
                          </ng-container>
                        </select>
                        <!-- <small class="form-text err-msg">{{validationMessages?.arrFieldErr[y]?.raffleId}}</small> -->

                        <span class="err-ico"><fa-icon [icon]="iconExclamation"></fa-icon></span>
                        <span class="err-tooltip-txt">{{validationMessages?.arrFieldErr[y]?.raffleId}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group tooltip-cont"
                        [ngClass]="{'input-err': validationMessages?.arrFieldErr[y]?.draw}">
                        <input class="form-control" formControlName="draw"
                          (keyup)="inputOnlyInt($event, 'draw', true, y)"
                          (blur)="validateArrayFieldOnBlur(y, 'draw')" />

                        <!-- <small class="form-text err-msg">{{validationMessages?.arrFieldErr[y]?.draw}}</small> -->

                        <span class="err-ico"><fa-icon [icon]="iconExclamation"></fa-icon></span>
                        <span class="err-tooltip-txt">{{validationMessages?.arrFieldErr[y]?.draw}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group tooltip-cont"
                        [ngClass]="{'input-err': validationMessages?.arrFieldErr[y]?.drawDate}">
                        <input type="text" class="form-control input-readOnly" [matDatepicker]="drawDatePicker"
                          formControlName="drawDate" readOnly (click)="drawDatePicker.open();"
                          (blur)="validateArrayFieldOnBlur(y, 'drawDate')" />
                        <mat-datepicker #drawDatePicker (closed)="validateObjectFieldOnBlur('prchDt')"></mat-datepicker>

                        <!-- <small class="form-text err-msg">{{validationMessages?.arrFieldErr[y]?.drawDate}}</small> -->

                        <span class="err-ico"><fa-icon [icon]="iconExclamation"></fa-icon></span>
                        <span class="err-tooltip-txt">{{validationMessages?.arrFieldErr[y]?.drawDate}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group tooltip-cont"
                        [ngClass]="{'input-err': validationMessages?.arrFieldErr[y]?.rflStrFrom}">
                        <input class="form-control" formControlName="rflStrFrom"
                          (keyup)="inputOnlyInt($event, 'rflStrFrom', true, y)"
                          (blur)="validateArrayFieldOnBlur(y, 'rflStrFrom')" />

                        <!-- <small class="form-text err-msg">{{validationMessages?.arrFieldErr[y]?.rflStrFrom}}</small> -->

                        <span class="err-ico"><fa-icon [icon]="iconExclamation"></fa-icon></span>
                        <span class="err-tooltip-txt">{{validationMessages?.arrFieldErr[y]?.rflStrFrom}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group tooltip-cont"
                        [ngClass]="{'input-err': validationMessages?.arrFieldErr[y]?.rflEndTo}">
                        <input class="form-control" formControlName="rflEndTo"
                          (keyup)="inputOnlyInt($event, 'rflEndTo', true, y)"
                          (blur)="validateArrayFieldOnBlur(y, 'rflEndTo')" />

                        <!-- <small class="form-text err-msg">{{validationMessages?.arrFieldErr[y]?.rflEndTo}}</small> -->

                        <span class="err-ico"><fa-icon [icon]="iconExclamation"></fa-icon></span>
                        <span class="err-tooltip-txt">{{validationMessages?.arrFieldErr[y]?.rflEndTo}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group tooltip-cont"
                        [ngClass]="{'input-err': validationMessages?.arrFieldErr[y]?.grpId}">
                        <select class="form-control" formControlName="grpId"
                          (blur)="validateArrayFieldOnBlur(y, 'grpId')">
                          <option value="" disabled>Select Group</option>
                          <ng-container *ngFor="let _grp of grpListArray">
                            <option [value]="_grp.groupId">{{_grp.groupName}}</option>
                          </ng-container>
                        </select>

                        <!-- <small class="form-text err-msg">{{validationMessages?.arrFieldErr[y]?.grpId}}</small> -->

                        <span class="err-ico"><fa-icon [icon]="iconExclamation"></fa-icon></span>
                        <span class="err-tooltip-txt">{{validationMessages?.arrFieldErr[y]?.grpId}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group tooltip-cont"
                        [ngClass]="{'input-err': validationMessages?.arrFieldErr[y]?.qty}">
                        <input class="form-control" formControlName="qty" (keyup)="inputOnlyInt($event, 'qty', true, y)"
                          (blur)="validateArrayFieldOnBlur(y, 'qty')" />

                        <!-- <small class="form-text err-msg">{{validationMessages?.arrFieldErr[y]?.qty}}</small> -->

                        <span class="err-ico"><fa-icon [icon]="iconExclamation"></fa-icon></span>
                        <span class="err-tooltip-txt">{{validationMessages?.arrFieldErr[y]?.qty}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-group tooltip-cont"
                        [ngClass]="{'input-err': validationMessages?.arrFieldErr[y]?.rate}">
                        <input class="form-control" formControlName="rate"
                          (keyup)="inputOnlyInt($event, 'rate', true, y)"
                          (blur)="validateArrayFieldOnBlur(y, 'rate')" />

                        <!-- <small class="form-text err-msg">{{validationMessages?.arrFieldErr[y]?.rate}}</small> -->

                        <span class="err-ico"><fa-icon [icon]="iconExclamation"></fa-icon></span>
                        <span class="err-tooltip-txt">{{validationMessages?.arrFieldErr[y]?.rate}}</span>
                      </div>
                    </td>
                    <td *ngIf="advanceReturnDetailsList.controls.length > 1">
                      <div class="icon-rmv" (click)="removeItem(y)"><fa-icon [icon]="iconTrash"></fa-icon></div>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td [colSpan]="9">
                    <button type="button" class="btn btn-primary pull-right" (click)="addNewItem();">Add Another
                      Item</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </form>
</div>
<!-- Form Button Section -->
<div class="footer-btn-group">
  <button class="btn btn-light mr-4" (click)="continueInfoModification()"
    *ngIf="!isNewEntry && !isModify">Modify</button>
  <button class="btn btn-success mr-4" *ngIf="isModify" (click)="saveModificationForm()"
    [attr.disabled]="isFormSubmitted ? true : null">Save</button>
  <button class="btn btn-secondary" (click)="resetForm()"
    [attr.disabled]="isFormSubmitted ? true : null">Cancel</button>
</div>