<div class="app-footer text-black-50">
  <div class="app-footer--first">
    <ul class="nav">
      <!-- <li class="nav-item">
        <a class="nav-link" href="https://uifort.com/template/bamburgh-angular-admin-dashboard-ngx-bootstrap-free"
          target="_blank">Download now</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://uifort.com/template/bamburgh-angular-admin-dashboard-ngx-bootstrap-pro"
          target="_blank">View PRO Version</a>
      </li> -->
    </ul>
  </div>
  <div class="app-footer--second">
    © {{crntYear}} AdminTemplate. All Rights Reserved.
  </div>
</div>