/*
 Import Theme scss file 
*/
@import './assets/theme/base.scss';

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/solid.min.css);

body.sidebar-hidden {
  .app-sidebar {
    display: none;
  }
  .app-main {
    .app-header {
      left: 0;

      .sidebar-shown-hidden-ico {
        .close-sidebar {
          display: none !important;
        }

        .show-sidebar {
          display: block !important;
        }
      }
    }

    .app-content {
      padding-left: 0;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.pb-11 {
  padding-bottom: 14rem !important;
}