.table {
  box-shadow: 0 0 10px 3px #d4d4d4;

  .action-col {
    width: 200px !important;
  }

  input.form-control {
    height: 1.8rem !important;
    padding: 0.5rem;
  }
  .action-sec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    i{
      font-size: 20px;
    }
  }
}

table tr th, table tr td {
  width: calc((100% - 200px) / 6) !important;
}